CLAUDE.md
frontend/docs/*
.claude/*
api_contract.md
__pycache__/
*.pyc
.env
.env.local
.env.*.local
backend/.env
backend/.env.local
backend/.env.*.local
!backend/.env.example


# Python
__pycache__/
*.py[cod]
*$py.class

backend/DB/users.json
backend/DB/google_tokens.json
